.container{
    background-color: #fafafa;
    height:570px;
    position: relative;
    top: 111px;
    width: 100%;
    height: 570px;
}
.imageContainer{
    position: relative;
    height: 470px;
    float: right;
    display: flex;
    top: -11px;
}
.image{
    justify-content: left;
    position: relative;
    max-height:100%;
}
.breedContainer{
    background-color: #FA450F;
    width:200px;
    float: left;
    text-align: right;
    position: relative;
    top: 30px;
}
.breed{
    font-weight: 600;
    color: #fff;
    margin-right: 15px;
    font-size: 20px;
}

.name{
    color: #0E0040;
    position:absolute;
    left: 100px;
    margin-top: 60px;
    font-size: 36px;
    font-weight: 700;
}
.averages{
    color: #0E0040;
    position: absolute;
    margin-top: 150px;
    left: 100px;
    font-size: 20px;
}
.yearsTitle{
    color: #FA450F;
    position: absolute;
    margin-top:180px;
    font-weight: 600;
    left: 100px;
    font-size: 18px;
}
.weightTitle{
    color: #FA450F;
    position: absolute;
    margin-top: 230px;
    font-weight: 600;
    left: 100px;
    font-size: 18px;
}
.heightTitle{
    color: #FA450F;
    position: absolute;
    margin-top: 205px;
    font-weight: 600;
    left: 100px;
    font-size: 18px;
}
.weight{

    position: absolute;
    color: #0E0040;
    margin-top: 230px;
    left: 180px;
}
.height{
    position: absolute;
    color: #0E0040;
    margin-top: 205px;
    left: 180px;
}

.years{
    position: absolute;
    color: #0E0040;
    margin-top:180px;
    left: 215px;
}
.tempContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 160px;

}

.tempTitle{
    color: #0E0040;
    position: relative;
    right: 230px;
}
.temperament{
    position: absolute;
    color: #0E0040;
    top: 20px;
    text-align: left;
    left: 90px;
}
.loadingContainer{
    position: absolute;
    width: 100%;
    margin-top: -200px;
}
.background{
    width: 100%;
    height: 100%;
    background-color:#272f4d ;

}
.errorPic{
border: solid 1px red;
}