.tagsArea{
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    width: 90%;
    overflow-x: hidden;

}
.tags{
    margin-top: 10px;
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    height: 300px;
    align-items: left;
}
.NameAndBreed{
    margin-top: 30px;
    margin-left: 50px;
    float: left;
}
.CheckCont{
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    float: right;
  
}
.CheckCont input{
    width: 50px;
}
.url{
    position: relative;
    top: 30px;
    width: 200px;
}

.tempTitle{
    position: relative;
    right: 320px;
    top: 100px;
  
}

.tagContainer{
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    padding: 8px;
 
 }
 .tag{
     margin-left: 8px;
     display: flex;
 }