.general{
    background-color: #0E0040;
    height: 700px;
 
}


hr{
    position: fixed;
    top: 100px;
    border: none;
    border-top: solid 1px #fff;
    width: 100%;
    z-index: 500;

}
.sidePic{
    height: 420px;
    position: fixed;
    top: 310px;
    left: 15px;
    z-index:100;
    cursor: pointer;

}
.createBtn{
    position: fixed;
    top:500px;
    right: 50px;
    width: 140px;
    cursor: pointer;
    z-index: 700;
    filter: grayscale(100%);
}

.createBtn:hover{
    filter: grayscale(0%);
    width:150px;
    transition: 0.05s ease-in-out;
}
.loadingContainer{
    margin-top: -100px;
    height: 700px;
}
.SearchBar{
    z-index: 780;
    position: relative;
    display: flex;
    top: 65px;   
    right: 60px;
}

.picPointer{
z-index: 900;
background-color: transparent;
height: 300px;
width: 200px;
position: absolute;
margin-top: 350px;
left: 100px;
cursor: pointer;
}
.created{
    position: relative;
    top: 50px;
    color: #fff;
    right: 50px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    border: 1px solid #fff;
    border-radius: 20px;
    cursor: pointer;
}
.created:hover{
    border: solid 1px orangered;
    transition: 0.15s ease-in-out;
}