*{
    padding: 0 auto;
    margin:0 auto;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 70px;
    background-color: #e63946;
    display: flex;
}
.title{
    color: #fff;
    margin-top: 10px;
}

