*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}
.tagContainer{
   border: 1px solid black;
   border-radius: 20px;
   margin-top: 10px;
   cursor: pointer;
   padding: 8px;

}
.tag{
    margin-left: 8px;
    display: flex;
}