.tagContainer{
   margin-right: 10px;
   border: 1px solid black;
   width: 130px;
   height: 30px;
   text-align: left;
   border-radius: 30px;
   margin-top: 10px;
}
.check{
    margin-left: 8px;
    margin-top:5px;
}